

// header
#header {
  &.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    box-shadow: 0px 0px 10px #ddd;
  }
  .navbar{
    margin-bottom: 0px;
  }
  .navbar-brand {
    font-size: 25px;
    .red {
      display: inline-block;
      padding: 3px;
      margin-top: -6px;

      text-transform: uppercase;
      color: #fff;
      background: $red;
    }
    span {
      margin-left: -5px;
    }
  }

  .navbar-static-top{
    border-width: 0 0 0px
  }
  .navbar-nav {
    li {
      a {
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        @include transition(background 0.5s);

      }
      &:hover {
        a {
          color: #fff;
          background: rgba(243, 95, 77, 0.5);
        }
      }
    }
    .active {
      a {
        color: #fff;
        background-color: $red;
        &:hover{
          background-color: $red;
        }
      }
    }
  }
}