section#portfolio.portfolio
 .container
  .header
   h2 portfolio
   .description We have designed and developed many awesome products. Just take a look.
  .projects-nav
   ul.nav.nav-pills.nav-stacked
    li.active
     a(href="javascript:void(0)" data-id="all") all
    li
     a(href="javascript:void(0)" data-id="design") design
    li
     a(href="javascript:void(0)" data-id="video") video
    li
     a(href="javascript:void(0)" data-id="game") game
    li
     a(href="#" ) othe
  .projects-list
   ul.row
    li#1.col-md-3(data-type="design")
     .item
      .b-img
       img(src="images/project1.jpg" )
      .b-info
       .p-name project1
       .b-btn
        .btn-link.glyphicon.glyphicon-picture
        .btn-open.glyphicon.glyphicon-zoom-in(data-type="design")
    li#2.col-md-3(data-type="design")
     .item
      .b-img
       img(src="images/project1.jpg" )
      .b-info
       .p-name project1
       .b-btn
        .btn-link.glyphicon.glyphicon-picture
        .btn-open.glyphicon.glyphicon-zoom-in(data-type="design")
    li#3.col-md-3(data-type="design")
     .item
      .b-img
       img(src="images/project1.jpg" )
      .b-info
       .p-name project1
       .b-btn
        .btn-link.glyphicon.glyphicon-picture
        .btn-open.glyphicon.glyphicon-zoom-in
    li#4.col-md-3(data-type="video")
     .item
      .b-img
       img(src="images/project2.jpg" )
      .b-info
       .p-name project2
       .b-btn
        .btn-link.glyphicon.glyphicon-picture
        .btn-open.glyphicon.glyphicon-zoom-in
    li#5.col-md-3(data-type="video")
     .item
      .b-img
       img(src="images/project2.jpg" )
      .b-info
       .p-name project2
       .b-btn
        .btn-link.glyphicon.glyphicon-picture
        .btn-open.glyphicon.glyphicon-zoom-in
    li#6.col-md-3(data-type="game")
     .item
      .b-img
       img(src="images/project3.jpg" )
      .b-info
       .p-name project3
       .b-btn
        .btn-link.glyphicon.glyphicon-picture
        .btn-open.glyphicon.glyphicon-zoom-in

