

* {
  margin: 0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;

}
html, body {
  height: 100%;
  font-size: 62.5%;

}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 142px;
}
.site-footer {
  background: orange;
}
.btn-box{
  text-align: center;
  margin-top: 30px;
  .btn-start{
    display: inline-block;
    padding: 15px 35px;

    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 14px;
    font-weight: 700;
    background: rgba(244,244,244,0.3);
    border: 1px solid #fafafa;
    @include transition(all 0.5s);

    &:hover{
      color: $red;
      background: rgba(244,244,244,0.8);
      font-weight: 700;
    }
  }
}
section {
  .header{
    margin: 10rem 0rem 7rem;
    text-align: center;

    h2{
      margin-bottom: 0rem;
      color: #565656;
      font-size: 4rem;
      font-weight: normal;
      text-transform: uppercase;
    }
    .description{
      font-size: 1.8rem;
      color: #aaa;
      &:first-letter{
        text-transform: capitalize;
      }
    }
  }
  &.white{
    h2{
      color: #f1f1f1;
    }
    h3{
      color: #eee;
    }
    .description{
      color: #e1e1e1;
    }
  }
}
