doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="language" content="en")
    title 25-Jun-14
    link(rel="stylesheet" href="css/index.css" type="text/css")
    script(type="text/javascript" src="bower_components/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="js/main.js")
    script(type="text/javascript" src="")
  body
    .page-wrap
    footer.site-footer