<!DOCTYPE html>
%html
 %head
  %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %meta(name="language" content="en")
  %title 25-Jun-14
  %link(rel="stylesheet" href="css/index.css" type="text/css")
  %script(type="text/javascript" src="bower_components/jquery/dist/jquery.min.js")
  %script(type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js")
  %script(type="text/javascript" src="js/main.js")
  %script(type="text/javascript" src="")

 %body
  .page-wrap
   %header#header.header
    %nav#navbar.navbar-default.site-navbar.navbar.navbar-static-top.affix-top(role="navigation")
     .container
      .navbar-header
       %button.navbar-toggle(type="buton" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        .sr-only">Toggle navigation
        .icon-bar
        .icon-bar
        .icon-bar
       %a.navbar-brand(href="#" ) brend
      #bs-example-navbar-collapse-1.navbar-collapse.collapse
       %ul.nav.navbar-nav.navbar-right
        %li
         %a 1 active
        %li
         %a 1 active
        %li
         %a 1 active

  %footer.site-footer

