<!DOCTYPE html>
%html
 %head
  %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %meta(name="language" content="en")
  %title 25-Jun-14
  %link(rel="stylesheet" href="css/index.css" type="text/css")

  %script(type="text/javascript" data-main="js/index.js" src="bower_components/requirejs/require.js")

 %body
  .page-wrap
   %header#header.header
    %nav#navbar.navbar-default.site-navbar.navbar.navbar-static-top.affix-top(role="navigation")
     .container
      .navbar-header
       %button.navbar-toggle(type="buton" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        .sr-only">Toggle navigation
        .icon-bar
        .icon-bar
        .icon-bar
       %a.navbar-brand(href="#" )
        .red k
        %span rasevych
      #navbar-collapse-1.navbar-collapse.collapse
       %ul.nav.navbar-nav.navbar-right
        %li.active
         %a Home
        %li
         %a Features
        %li
         %a Portfolio
        %li
         %a About Us
        %li
         %a Team
        %li
         %a Pricing
        %li
         %a Contact
   %section#home.home
    .container
     %h1 Affordable Quality services for Small Businesses
     .btn-box
      .btn-start.btn-success let's start
   %section#service.service
    .container
     .header
      %h2 our services
      .description you could be interested in
     .developer.col-md-3.col-sm-6
      .icon-box
       %img(src="modules/service/img/developer1.jpg" )
       .line-l
       .line-tl
       .line-t
       .line-tr
       .line-r
       .line-br
       .line-b
       .line-bl
      %h3
       %span web development
      .text-box
       %p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript.

     .responsive.col-md-3.col-sm-6
      .icon-box
       %img(src="modules/service/img/responsive4.jpg" )
       .line-l
       .line-tl
       .line-t
       .line-tr
       .line-r
       .line-br
       .line-b
       .line-bl
      %h3
       %span responsive
      .text-box
       %p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript.


     .design.col-md-3.col-sm-6
      .icon-box
       %img(src="modules/service/img/web-design2.png" )
       .line-l
       .line-tl
       .line-t
       .line-tr
       .line-r
       .line-br
       .line-b
       .line-bl
      %h3
       %span web design
      .text-box
       %p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript.

     .seo.col-md-3.col-sm-6
      .icon-box
       %img(src="modules/service/img/seo5.jpg" )
       .line-l
       .line-tl
       .line-t
       .line-tr
       .line-r
       .line-br
       .line-b
       .line-bl
      %h3
       %span seo & smm
      .text-box
       %p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript.




  %footer.site-footer

