section#service.service
 .container
  .header
   h2 our services
   .description you could be interested in
  .row
    .developer.col-md-3.col-sm-6
     .icon-box
      img(src="images/developer1.jpg" )
      .line-l
      .line-tl
      .line-t
      .line-tr
      .line-r
      .line-br
      .line-b
      .line-bl
     h3
      span web development
     .text-box
      p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript
    .responsive.col-md-3.col-sm-6
     .icon-box
      img(src="images/responsive4.jpg" )
      .line-l
      .line-tl
      .line-t
      .line-tr
      .line-r
      .line-br
      .line-b
      .line-bl
     h3
      span responsive
     .text-box
      p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript
    .design.col-md-3.col-sm-6
     .icon-box
      img(src="images/web-design2.png" )
      .line-l
      .line-tl
      .line-t
      .line-tr
      .line-r
      .line-br
      .line-b
      .line-bl
     h3
      span web design
     .text-box
      p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript
    .seo.col-md-3.col-sm-6
     .icon-box
      img(src="images/seo5.jpg" )
      .line-l
      .line-tl
      .line-t
      .line-tr
      .line-r
      .line-br
      .line-b
      .line-bl
     h3
      span seo & smm
     .text-box
      p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript.


