#about p {
  font-size: 1.5rem;
}
#about .b-goal h2,
#about .b-skills h2,
#about .b-goal h3,
#about .b-skills h3 {
  text-transform: capitalize;
}
#about .b-goal h2,
#about .b-skills h2 {
  font-size: 3rem;
}
#about .b-goal h3,
#about .b-skills h3 {
  font-size: 2rem;
}
#about .b-skills ul {
  padding: 0rem;
}
#about .b-skills li {
  display: block;
}
#about .b-skills .progress {
  height: 1.5rem;
}
#about .b-skills .skills .dev .progress-bar {
  background-color: #f35f4d;
}
#about .b-skills .skills .des .progress-bar {
  background-color: #24a9ff;
}
#about .b-skills .skills .cs .progress-bar {
  background-color: #42db81;
}
#about .b-skills .skills .seo h3 {
  text-transform: uppercase;
}
#about .b-skills .skills .seo .progress-bar {
  background-color: #ffa500;
}
#about .panel-group {
  margin-top: 20px;
}
#about .panel-group .panel-heading {
  background: #fbfbfb;
}
