<!DOCTYPE html>
%html
 %head
  %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %meta(name="language" content="en")
  %title
  %link(rel="stylesheet" href="../../css/index.css" type="text/css")
  %script(type="text/javascript" data-main="../../js/index.js" src="bower_components/requirejs/require.js")

 %body
  %header#header.header
   %nav#navbar.navbar-default.site-navbar.navbar.navbar-static-top.affix-top(role="navigation")
    .container
     .navbar-header
      %button.navbar-toggle(type="buton" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
       .sr-only">Toggle navigation
       .icon-bar
       .icon-bar
       .icon-bar
      %a.navbar-brand(href="#" )
       .red k
       %span rasevych
     #bs-example-navbar-collapse-1.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
       %li.active
        %a Home
       %li
        %a Features
       %li
        %a Portfolio
       %li
        %a About Us
       %li
        %a Team
       %li
        %a Pricing
       %li
        %a Contact

