extends layout

block content
  .page-wrap

    include ./components/header/index.jade
    include ./components/home/index.jade
    include ./components/service/index.jade
    include ./components/dividers/divider-one.jade
    include ./components/portfolio/index.jade
    include ./components/about/index.jade

  include ./components/footer/index.jade
