#service.service {
  background: #fff;
  padding-bottom: 5rem;
}
#service [class*='line'] {
  position: absolute;
  width: 6.5rem;
  height: .715rem;
  border-radius: .2rem;
  box-shadow: 0px 0px 1px #888;
}
#service .line-t {
  top: 0rem;
  left: 4.45rem;
}
#service .line-tr {
  top: 2.21rem;
  right: -0.715rem;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
#service .line-tl {
  top: 2.21rem;
  left: -0.78rem;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
#service .line-r {
  top: 7.475rem;
  right: -2.925rem;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
#service .line-l {
  top: 7.475rem;
  left: -2.925rem;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
#service .line-b {
  bottom: 0rem;
  left: 4.45rem;
}
#service .line-br {
  bottom: 2.145rem;
  right: -0.715rem;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
#service .line-bl {
  bottom: 2.145rem;
  left: -0.78rem;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
#service .icon-box {
  position: relative;
  display: inline-block;
  width: 15.6rem;
  height: 15.6rem;
}
#service .icon-box img {
  width: 9.75rem;
  height: auto;
  margin-top: 2.6rem;
}
#service > div > div [class*='line'] {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #ececec;
}
#service > div > div h3 {
  text-align: center;
  color: #555555;
  font: 18px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
}
#service > div > div h3 span {
  position: relative;
  display: inline-block;
}
#service > div > div h3 span:before,
#service > div > div h3 span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 2px;
  margin-top: .1rem;
  background: #f35f4d;
}
#service > div > div h3 span:after {
  left: 20%;
  width: 60%;
  margin-top: .6rem;
}
#service > div > div .text-box {
  margin: 3rem 0rem 4rem;
  text-align: justify;
  color: #888;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#service .design {
  text-align: center;
}
#service .design img {
  width: 11.7rem;
  margin-top: 3.25rem;
}
#service .design:hover [class*='line'] {
  background: #24a9ff;
  box-shadow: 0px 0px 1px #24a9ff;
}
#service .design h3 span:before,
#service .design h3 span:after {
  background: #24a9ff;
}
#service .text-box::selection {
  background: #FC6D6D;
  color: #FFF;
}
#service .responsive {
  text-align: center;
}
#service .responsive img {
  width: 11.7rem;
  margin-top: 3.25rem;
}
#service .responsive:hover [class*='line'] {
  background: #42db81;
  box-shadow: 0px 0px 1px #42db81;
}
#service .responsive h3 span:before,
#service .responsive h3 span:after {
  background: #42db81;
}
#service .developer {
  text-align: center;
}
#service .developer:hover [class*='line'] {
  background: #f35f4d;
  box-shadow: 0px 0px 1px #f35f4d;
}
#service .seo {
  text-align: center;
}
#service .seo:hover [class*='line'] {
  background: #ffa500;
  box-shadow: 0px 0px 1px #ffa500;
}
#service .seo h3 {
  text-transform: uppercase;
}
#service .seo h3 span:before,
#service .seo h3 span:after {
  background: #ffa500;
}
