<!DOCTYPE html>
%html
 %head
  %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %meta(name="language" content="en")
  %title
  %link(rel="stylesheet" href="../../css/index.css" type="text/css")
  %script(type="text/javascript" data-main="../../js/index.js" src="../../bower_components/requirejs/require.js")
 %body
  %section#home.home
   .container
    %h1 Affordable Quality services for Small Businesses
    .btn-box

