<!DOCTYPE html>
%html
 %head
  %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %meta(name="language" content="en")
  %title
  %link(rel="stylesheet" href="../../css/index.css" type="text/css")
  %script(type="text/javascript" data-main="../../js/index.js" src="../../bower_components/requirejs/require.js")

 %body
  %section#portfolio.portfolio
   .container
    .header
     %h2 portfolio
     .description We have designed and developed many awesome products. Just take a look.
    .projects-nav
     %ul.nav.nav-pills.nav-stacked
      %li.active
       %a(href="javascript:void(0)" data-id="all") all
      %li
       %a(href="javascript:void(0)" data-id="design") design
      %li
       %a(href="javascript:void(0)" data-id="video") video
      %li
       %a(href="javascript:void(0)" data-id="game") game
      %li
       %a(href="#" ) other

    .projects-list
     %ul
      %li#1.col-md-3(data-type="design")
       .item
        .b-img
         %img(src="img/project1.jpg" )
        .b-info
         .p-name project1
         .b-btn
          .btn-link.glyphicon.glyphicon-picture
          .btn-open.glyphicon.glyphicon-zoom-in(data-type="design")
      %li#2.col-md-3(data-type="design")
       .item
        .b-img
         %img(src="/modules/portfolio/img/project1.jpg" )
        .b-info
         .p-name project1
         .b-btn
          .btn-link.glyphicon.glyphicon-picture
          .btn-open.glyphicon.glyphicon-zoom-in(data-type="design")
      %li#3.col-md-3(data-type="design")
       .item
        .b-img
         %img(src="/modules/portfolio/img/project1.jpg" )
        .b-info
         .p-name project1
         .b-btn
          .btn-link.glyphicon.glyphicon-picture
          .btn-open.glyphicon.glyphicon-zoom-in
      %li#4.col-md-3(data-type="video")
       .item
        .b-img
         %img(src="/modules/portfolio/img/project2.jpg" )
        .b-info
         .p-name project2
         .b-btn
          .btn-link.glyphicon.glyphicon-picture
          .btn-open.glyphicon.glyphicon-zoom-in
      %li#5.col-md-3(data-type="video")
       .item
        .b-img
         %img(src="/modules/portfolio/img/project2.jpg" )
        .b-info
         .p-name project2
         .b-btn
          .btn-link.glyphicon.glyphicon-picture
          .btn-open.glyphicon.glyphicon-zoom-in
      %li#6.col-md-3(data-type="game")
       .item
        .b-img
         %img(src="/modules/portfolio/img/project3.jpg" )
        .b-info
         .p-name project3
         .b-btn
          .btn-link.glyphicon.glyphicon-picture
          .btn-open.glyphicon.glyphicon-zoom-in

