<!DOCTYPE html>
%html
 %head
  %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %meta(name="language" content="en")
  %title
  %link(rel="stylesheet" href="../../css/index.css" type="text/css")
  %link(rel="stylesheet" href="css/index.css" type="text/css")
  %script(type="text/javascript" data-main="../../js/index.js" src="../../bower_components/requirejs/require.js")

 %body
  %section#service.service
   .container
    .developer.col-md-3
     .icon-box
      %img(src="img/developer1.jpg" )
      .line-l
      .line-tl
      .line-t
      .line-tr
      .line-r
      .line-br
      .line-b
      .line-bl
     %h3
      %span developer
     .text-box
      %p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript.

    .responsive.col-md-3
     .icon-box
      %img(src="img/responsive4.jpg" )
      .line-l
      .line-tl
      .line-t
      .line-tr
      .line-r
      .line-br
      .line-b
      .line-bl
     %h3
      %span responsive
     .text-box
      %p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript.


    .design.col-md-3
     .icon-box
      %img(src="img/web-design2.png" )
      .line-l
      .line-tl
      .line-t
      .line-tr
      .line-r
      .line-br
      .line-b
      .line-bl
     %h3
      %span web design
     .text-box
      %p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript.

    .seo.col-md-3
     .icon-box
      %img(src="img/seo5.jpg" )
      .line-l
      .line-tl
      .line-t
      .line-tr
      .line-r
      .line-br
      .line-b
      .line-bl
     %h3
      %span seo
     .text-box
      %p AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript.


